<div class="container-fluid text-center">

  <div class="col-xs-12">
    <!-- TODO this string needs to be translated -->
    <h3>{{::vm.match.getWinners().length == 1 ? "e il vincitore è" : "e i vincitori sono"}}</h3>
  </div>

  <div class="col-xs-12">
    <div ng-repeat="winner in vm.match.getWinners()">
      <span class="glyphicon glyphicon-user adt-badge"></span>
      <h2 ng-bind="::winner.name"></h2>
    </div>
  </div>

  <div class="col-xs-12">
    <!-- TODO this string needs to be translated -->
    <a class="btn btn-primary btn-lg btn-block"
        role="button"
        ng-click="vm.newMatch()">
      nuova partita
      <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>

</div>
