# npm dependencies folder
node_modules/

# bower dependencies folder
bower_components/

# Using PHPStorm project settings are stored with each specific project as a set of xml files under the .idea folder.
# If you specify the default project settings, these settings will be automatically used for each newly created project.
.idea

# A hidden file created by MacOS
.DS_Store

# Folder for the tests coverage
coverage/

# Distribution folder is not added in source control
dist/

# Ignore any kind of logs
*.log

# Ionic libraries
www/lib/