<div class="jumbotron dartsContainer">
	<h1>Add players*</h1>
	<p>*(Players must be at least 2)</p>
	
	<div class=".col-md-6 .col-md-offset-3 playerList" ng-show="vm.storagePlayers.length >= 1">
		<div class="panel panel-success">
			<div class="panel-heading">List of VIP player(s)</div>
			
			<table class="table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Add</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="friend in vm.storagePlayers">
						<td>{{friend.name}}</td>
						<td>
							<button type="button" class="btn btn-success" ng-click="vm.addPlayerInList(friend)">
								+
							</button>
						</td>
						<td>
							<button type="button" class="btn btn-danger" ng-click="vm.removePlayerStorage(friend)">
								x
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="alert alert-info playerList" role="alert">
		There are {{ vm.players.length }} player(s)
	</div>

	<div class=".col-md-6 .col-md-offset-3 playerList">
		<div class="input-group" ng-form name="playerForm">
			<input type="text" class="form-control" name="namePlayer" placeholder="Add a new player..." ng-model="vm.name" ng-minlength="2" ng-maxlength="50" required>
			<span class="input-group-btn">
			    <button class="btn btn-default" type="button" ng-click="vm.addPlayer()" ng-disabled="playerForm.$invalid">
			    	<span class="glyphicon glyphicon-plus"></span>
			    </button>
			</span>
		</div> <!-- input-group -->
		<div role="alert" class="errorLength">
      <span class="error" ng-show="playerForm.namePlayer.$error.maxlength">Too long!</span>
      <span class="error" ng-show="playerForm.namePlayer.$error.minlength">Too short!</span>
    </div>
	</div> <!-- col-lg-6 -->
	<div>
		<ul class="list-group playerList">
			<li class="list-group-item" ng-repeat="player in vm.players">
				{{ player.name }}
			</li>
		</ul>
	</div>

	<div class="dartsButton">
		<a class="btn btn-warning btn-lg" role="button" ng-click="vm.removePlayer()" ng-show="vm.players.length >= 1">Remove Players</a>
    <a class="btn btn-info btn-lg" role="button" href="#!/round" ng-show="vm.players.length >= 2">Start</a>
	</div>
</div>
