<div class="container-fluid text-center">

  <div class="col-xs-12">
    <h2 translate="players.SELECT_PLAYERS"></h2>
  </div>

  <div class="col-xs-12">
    <div ng-show="vm.savedPlayers.getAll().length">
      <h4>{{'players.SELECTED_PLAYERS' | translate}}: {{vm.selectedPlayers.getAll().length}}</h4>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="adt-card">
      <form name="createForm" ng-submit="vm.addNewPlayer()">
        <button type=submit" class="glyphicon glyphicon-plus adt-button"></button>
        <input type="text" class="text-center"
            name="namePlayer"
            placeholder="add player"
            ng-model="vm.newPlayerName">
      </form>
    </div>

    <div class="adt-card"
          ng-repeat="player in vm.savedPlayers.getAll() track by player.id"
          ng-class="{'is-adt-card-selected': vm.isPlayerSelected(player)}"
          ng-click="vm.togglePlayer(player)">
      <div class="glyphicon glyphicon-user"></div>
      <div class="adt-ellipsis-inline" ng-bind="player.name | lowercase"></div>
      <div class="glyphicon glyphicon-ok adt-card-check"></div>
    </div>
  </div>

  <div class="col-xs-12">
    <a class="btn btn-primary btn-lg btn-block"
        role="button"
        ng-click="vm.startMatch()"
        ng-show="vm.areSelectedPlayersEnough()">
        {{"players.button.START" | translate}}
      <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>

</div>
