<div class="container-fluid text-center">
<!--Title-->
  <div class="row">
    <div class="col-xs-12">
      <!-- TODO this string needs to be translated -->
      <h2>seleziona giocatori</h2>
    </div>
  </div>
<!--END of Title-->
<!--Subtitle-->
  <div class="row">
    <div class="col-xs-12">
      <div ng-show="vm.savedPlayers.getAll().length">
        <!-- TODO this string needs to be translated -->
        sono stati selezionati {{ vm.selectedPlayers.getAll().length }} giocatori
      </div>
    </div>
  </div>
<!--END of subtitle-->
<!--Players-->
  <div class="row">
    <div class="col-xs-12">
      <!--Add new player button-->
      <div class="adt-card">
        <div class="row">
          <button data-toggle="collapse" href="#create-form" class="glyphicon glyphicon-plus adt-button"></button>
        </div>
      </div>
      <!--END of add new player button-->
      <!--Add new player form-->
      <div class="row">
        <div class="col-xs-10 col-xs-push-1">
          <!-- TODO this string needs to be translated -->
          <form id="create-form" name="createForm" class="collapse" ng-submit="vm.addNewPlayer()">
            <div class="input-group">
              <input type="text" class="text-center form-control"
                     name="namePlayer"
                     placeholder="add player"
                     ng-model="vm.newPlayerName">
              <span class="input-group-btn">
                <button class="btn btn-secondary glyphicon glyphicon-plus"
                        type="submit"></button>
              </span>
            </div>
          </form>
        </div>
      </div>
      <!--END of add new player form-->
      <!--Players list-->
      <div class="row">
        <div class="adt-card"
              ng-repeat="player in vm.savedPlayers.getAll() track by player.id"
              ng-class="{'is-adt-card-selected': vm.isPlayerSelected(player)}"
              ng-click="vm.togglePlayer(player)">
          <div class="glyphicon glyphicon-user"></div>
          <div class="adt-ellipsis-inline" ng-bind="player.name | lowercase"></div>
          <div class="glyphicon glyphicon-ok adt-card-check"></div>
        </div>
      </div>
      <!--END of players list-->
    </div>
  </div>
<!--END of players-->
  <div class="row">
    <div class="col-xs-10 col-xs-push-1">
      <!-- TODO this string needs to be translated -->
      <a class="btn btn-primary btn-lg btn-block"
          role="button"
          ng-disabled="!vm.areSelectedPlayersEnough()"
          ng-click="vm.startMatch()">
        start
        <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </a>
      <a class="btn btn-primary btn-lg btn-block"
         role="button"
         ng-click="vm.viewStats()">
        stats
      </a>
    </div>
  </div>

</div>
