<div class="jumbotron dartsContainer">
	<h2>Round: {{vm.currentRound}}</h2>
	<h2>Giocatore: {{vm.currentPlayer}}</h2>
	<h2>{{vm.congratulations}}</h2>
	<h2>Punteggio totale: {{vm.currentScore}}</h2>
	<h2 ng-hide="win">Punteggio: {{vm.scoreRound}}</h2>

	<div class=".col-md-6 .col-md-offset-3 playerList" ng-form>

		<div class="input-group dartsInput">
			<input type="text" class="form-control" ngMinlength="0" ngMaxlength="180" placeholder="Inserisci il punteggio del primo lancio..." ng-model="vm.fShot">
			<span class="input-group-btn">
			    <button class="btn btn-default" type="button" ng-click="vm.addScore1()" ng-disabled="vm.buttonClicked1">
			    	<span class="glyphicon glyphicon-plus"></span>
			    </button>
			</span>
		</div> <!-- input-group -->

		<div class="input-group dartsInput">
			<input type="text" class="form-control" ngMinlength="0" ngMaxlength="180" placeholder="Inserisci il punteggio del secondo lancio..." ng-model="vm.sShot">
			<span class="input-group-btn">
			    <button class="btn btn-default" type="button" ng-click="vm.addScore2()" ng-disabled="vm.buttonClicked2">
			    	<span class="glyphicon glyphicon-plus"></span>
			    </button>
			</span>
		</div> <!-- input-group -->

		<div class="input-group dartsInput">
			<input type="text" class="form-control" ngMinlength="0" ngMaxlength="180" placeholder="Inserisci il punteggio del terzo lancio..." ng-model="vm.tShot">
			<span class="input-group-btn">
			    <button class="btn btn-default" type="button" ng-click="vm.addScore3()" ng-disabled="vm.buttonClicked3">
			    	<span class="glyphicon glyphicon-plus"></span>
			    </button>
			</span>
		</div> <!-- input-group -->
		
		<div class="dartsButton">
			<a class="btn btn-warning btn-lg" role="button" href="#!/player">Torna indietro</a>
	    <a class="btn btn-info btn-lg" role="button" ng-click="vm.loadRound()" ng-hide="vm.win">Avanti un altro</a>
		</div>
	</div>
</div>
