<div class="jumbotron dartsContainer">
	<h2>Round: {{vm.currentRound}}</h2>
	<h2>Player: {{vm.currentPlayer}}</h2>
	<h2>{{vm.congratulations}}</h2>
	<h2>Total Score: {{vm.currentScore}}</h2>
	<h2 ng-hide="win">Current Score: {{vm.scoreRound}}</h2>

	<div class=".col-md-6 .col-md-offset-3 playerList">
		<div class="input-group dartsInput" ng-form name="roundForm1">
			<input type="number" class="form-control" name="roundShot1" min="0" max="180" placeholder="Add the score of the first shot..." ng-model="vm.fShot" required>
			<span class="input-group-btn">
			  <button class="btn btn-default" type="button" ng-click="vm.addScore1()" ng-disabled="vm.buttonClicked1 || roundForm1.$invalid">
			    <span class="glyphicon glyphicon-plus"></span>
			  </button>
			</span>
		</div> <!-- input-group -->
		<div role="alert" class="errorLength">
	    <span class="error" ng-show="roundForm1.roundShot1.$error.max">Too big, it's impossible!</span>
	    <span class="error" ng-show="roundForm1.roundShot1.$error.min">Too small, it's impossible!</span>
    </div>

		<div class="input-group dartsInput" ng-form name="roundForm2">
			<input type="number" class="form-control" name="roundShot2" min="0" max="180" placeholder="Add the score of the second shot..." ng-model="vm.sShot" required>
			<span class="input-group-btn">
			  <button class="btn btn-default" type="button" ng-click="vm.addScore2()" ng-disabled="vm.buttonClicked2 || roundForm2.$invalid">
			    <span class="glyphicon glyphicon-plus"></span>
			  </button>
			</span>
		</div> <!-- input-group -->
		<div role="alert" class="errorLength">
	    <span class="error" ng-show="roundForm2.roundShot2.$error.max">Too long, it's impossible!</span>
	    <span class="error" ng-show="roundForm2.roundShot2.$error.min">Too short, it's impossible!</span>
    </div>

		<div class="input-group dartsInput" ng-form name="roundForm3">
			<input type="number" class="form-control" name="roundShot3" min="0" max="180" placeholder="Add the score of the third shot..." ng-model="vm.tShot" required>
			<span class="input-group-btn">
			  <button class="btn btn-default" type="button" ng-click="vm.addScore3()" ng-disabled="vm.buttonClicked3 || roundForm3.$invalid">
			    <span class="glyphicon glyphicon-plus"></span>
			  </button>
			</span>
		</div> <!-- input-group -->
		<div role="alert" class="errorLength">
	    <span class="error" ng-show="roundForm3.roundShot3.$error.max">Too long, it's impossible!</span>
	    <span class="error" ng-show="roundForm3.roundShot3.$error.min">Too short, it's impossible!</span>
    </div>
		
		<div class="dartsButton">
			<a class="btn btn-warning btn-lg" role="button" href="#!/player">Go Back</a>
	    <a class="btn btn-info btn-lg" role="button" ng-click="vm.loadRound()" ng-hide="vm.win">Next Player</a>
		</div>
	</div>
</div>
