<div class="adt-card"
        ng-repeat="player in $ctrl.savedPlayers.getAll() | orderBy: 'name' as orderedPlayers track by player.id"
        ng-class="{'is-adt-card-selected': $ctrl.isPlayerSelected(player)}"
        ng-click="$ctrl.togglePlayer(player)">
    <div class="glyphicon glyphicon-user"></div>
    <div class="adt-ellipsis-inline" ng-bind="player.name | lowercase"></div>
    <div class="glyphicon glyphicon-ok adt-card-check"></div>
</div>

<div class="adt-card">
    <!-- TODO this string needs to be translated -->
    <button class="glyphicon glyphicon-plus adt-button" ng-click="$ctrl.addNewPlayer()"></button>
</div>
