
<table class="table table-striped">
  <thead>
  <tr>
    <th>Player</th>
    <th>Wins percentage</th>
    <th>Best Round Score</th>
    <th>Best Round Date</th>
    <th>Shutouts</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="player in vm.savedPlayers.getAll() track by player.id">
    <td ng-bind="player.name"></td>
    <td ng-bind="vm.playerStats.getWinsPercentage(player)"></td>
    <td ng-bind="player.bestRoundScore.toString()"></td>
    <td ng-bind="player.bestRoundDate.toString()"></td>
    <td ng-bind="player.shutouts.toString()"></td>
  </tr>
  </tbody>
</table>

<div class="col-xs-12">
  <!-- TODO this string needs to be translated -->
  <a class="btn btn-primary btn-lg btn-block"
     role="button"
     ng-click="vm.viewPlayers()">
    back
  </a>
</div>
