<div class="container text-center">
  <h2 ng-bind="vm.player.name"></h2>
  <h4>punti rimanenti</h4>
  <h3 ng-bind="vm.getMissingPoints()"></h3>
</div>

<div class="container text-center">
  <div ng-repeat="i in [0,1,2]" class="box">
    <h4>tiro {{i}}</h4>
    <h3 ng-if="vm.shots[i]" ng-bind="vm.shots[i]"></h3>
    <h3 ng-if="!vm.shots[i]" ng-class="{'blink': vm.shotIndex == i}">-</h3>
  </div>
</div>

<div class="container text-center">
  <!-- TODO this string needs to be translated -->
  <h4>totale round</h4>
  <h3 ng-bind="vm.getRoundSum()"></h3>
</div>

<div class="container text-center">
  <button class="btn"
      ng-repeat="value in vm.values"
      ng-click="!vm.isButtonDisabled(value) && vm.addPoint(value)"
      ng-disabled="vm.isButtonDisabled(value)"
      ng-bind="value"></button>

  <!-- TODO this string needs to be translated -->
  <button class="btn"
      ng-click="vm.cancel()">cancel</button>

  <!-- TODO this string needs to be translated -->
  <button class="btn"
      ng-disabled="vm.isRoundCompleted()"
      ng-click="!vm.isRoundCompleted() && vm.confirm()">ok</button>
  
  <!-- TODO this string needs to be translated -->
  <button class="btn"
      ng-disabled="!vm.isRoundCompleted()"
      ng-click="vm.isRoundCompleted() && vm.go()">go</button>
</div>
