<div class="container text-center">

  <div class="col-xs-12">
    <!-- TODO this string needs to be translated -->
    <h4>turno {{vm.round}}</h4>
  </div>

  <div class="col-xs-12">
    <h2 ng-bind="vm.player.name"></h2>
  </div>

  <div class="col-xs-12">
    <!-- TODO this string needs to be translated -->
    <h4>punti rimanenti</h4>
    <h3 ng-bind="vm.getMissingPoints()"></h3>
  </div>

  <div class="col-xs-4" ng-repeat="i in [0, 1, 2]">
    <h4>tiro {{i + 1}}</h4>
    <h3 ng-if="vm.shots[i]" ng-bind="vm.shots[i]"></h3>
    <h3 ng-if="!vm.shots[i]" ng-class="{'blink': vm.shotIndex == i}">-</h3>
  </div>

  <div class="col-xs-12">
    <!-- TODO this string needs to be translated -->
    <h4>totale round</h4>
    <h3 ng-bind="vm.getRoundSum()"></h3>
  </div>

  <div class="col-xs-12">
    <button class="btn btn-default btn-info adt-btn"
        ng-repeat="number in vm.numbers"
        ng-click="!vm.isButtonDisabled(number) && vm.addPoint(number)"
        ng-disabled="vm.isButtonDisabled(number)"
        ng-bind="number"></button>
  </div>

  <div class="col-xs-12">
    <button class="btn btn-danger"
        disabled="disabled"
        ng-click="vm.cancel()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>

    <button class="btn btn-success"
        ng-disabled="vm.isRoundCompleted()"
        ng-click="!vm.isRoundCompleted() && vm.confirm()">
      <span class="glyphicon glyphicon-ok"></span>
    </button>

    <!-- TODO this string needs to be translated -->
    <button class="btn btn-primary btn-lg btn-block"
        ng-if="vm.isRoundCompleted()"
        ng-click="vm.isRoundCompleted() && vm.go()">
      summary
      <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </button>
  </div>

</div>
