/* app css stylesheet */
body {
	background-image: url("images/darts.jpg");
	background-size: 1920px 1277px;
}

.dartsContainer {
	text-align:center;
}

.playerList {
	margin: 5rem 40rem 3rem 40rem;
}

.dartsButton {
	margin-top: 5rem;
}

.dartsInput {
	margin-top: 2rem;
}

thead tr th {
	text-align: center;
}
