<div class="container text-center">
	<h2>seleziona giocatori</h2>
</div>

<div class="container text-center">
	<div ng-show="vm.storagePlayers.length >= 1">sono stato selezionati {{ vm.players.length }} giocatori</div>

	<div class="adt-card">
		<input type="text" name="namePlayer" ng-model="vm.name" minlength="2" maxlength="20" required>
		<button ng-click="vm.addPlayer()">aggiungi</button>
	</div>

	<div class="adt-card"
			ng-repeat="friend in vm.storagePlayers"
			ng-bind="friend.name"
			ng-class="{'is-adt-card-selected': vm.isSelected(friend)}"
			ng-click="vm.togglePlayer(friend)"></div>
</div>

<div class="container text-center">
	<a class="btn btn-info btn-lg" role="button" href="#!/round" ng-show="vm.players.length >= 2">start</a>
</div>
