<div class="container text-center">
  <!-- TODO this string needs to be translated -->
  <h2>riepilogo</h2>
</div>

<div class="container text-center">
  <table border="1" align="center">
    <thead>
      <tr>
        <th ng-repeat="player in vm.getPlayers()" ng-bind="player.name"></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="round in vm.getRounds()">
        <td ng-repeat="player in vm.getPlayers()" ng-bind="vm.getPoints(player, round)"></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container text-center">
  <!-- TODO this string needs to be translated -->
  <a class="btn btn-info btn-lg"
      role="button"
      href="#!/round">prossimo giocatore</a>
</div>
