<div class="container text-center">

  <div class="col-xs-12">
    <!-- TODO this string needs to be translated -->
    <h2>riepilogo</h2>
  </div>

  <div class="col-xs-12">
    <table border="1" align="center">
      <thead>
        <tr>
          <th ng-repeat="player in vm.getPlayers()" ng-bind="player.name"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td ng-repeat="player in vm.getPlayers()" ng-bind="vm.match.getInitialPoints()"></td>
        </tr>
        <tr ng-repeat="round in vm.match.getRounds()">
          <td ng-repeat="player in vm.getPlayers()">
            <span ng-bind="vm.getMissingPoints(player, $parent.$index + 1)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-xs-12">
    <!-- TODO this string needs to be translated -->
    <h4>prossimo giocatore</h4>
    <h3 ng-bind="vm.match.getNextPlayer().name"></h3>
    <!-- TODO this string needs to be translated -->
    <!-- TODO Move routing on the controller -->
    <a class="btn btn-primary btn-lg btn-block"
        role="button"
        href="#!/round/{{vm.roundID}}/player/{{vm.playerID}}">
      turno {{vm.roundID}}
      <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>

</div>
