<div class="container text-center">

  <div class="col-xs-12">
    <h2 translate="summary.SUMMARY"></h2>
  </div>

  <div class="col-xs-12">
    <table align="center" class="adt-table">
      <thead>
        <tr>
          <th class="is-adt-table-cell-no-border"></th>
          <th ng-repeat="player in vm.getPlayers()" class="is-adt-table-cell-no-border">
            <span class="glyphicon glyphicon-user adt-badge"></span>
          </th>
        </tr>
        <tr>
          <th></th>
          <th ng-repeat="player in vm.getPlayers()" ng-bind="player.name | initials" class="text-uppercase"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-class="{'is-adt-table-row-highlighted': !vm.match.getRounds().length}">
          <td class="text-capitalize" translate="summary.START"></td>
          <td ng-repeat="player in vm.getPlayers()" ng-bind="vm.match.getInitialPoints()"></td>
        </tr>
        <tr ng-repeat="round in vm.match.getRounds()"
            ng-class="{'is-adt-table-row-highlighted': vm.match.getRounds().length == $index + 1}">
          <!-- TODO this string needs to be translated -->
          <td class="text-capitalize">{{'summary.ROUND' | translate}} {{$index + 1}}</td>
          <td ng-repeat="player in vm.getPlayers()">
            <span ng-bind="vm.getMissingPoints(player, $parent.$index + 1)"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- TODO Next player or winner -->
  <div class="col-xs-12">
    <h4 translate="summary.NEXT_PLAYER"></h4>
    <h3 ng-bind="vm.match.getNextPlayer().name"></h3>
    <!-- TODO Move routing on the controller -->
    <a class="btn btn-primary btn-lg btn-block"
        role="button"
        ng-click="vm.nextRound()">
        {{'summary.button.ROUND' | translate}} {{vm.roundID}}
      <span class="glyphicon glyphicon-circle-arrow-right"></span>
    </a>
  </div>

</div>
