.adt-card {
  border-radius: 0.5rem;
  display: inline-flex;
  flex-direction: column;
  font-size: 1.8rem;
  height: 9rem;
  justify-content: center;
  margin: 0.5rem;
  padding: 0.1rem;
  position: relative;
  text-transform: capitalize;
  vertical-align: top;
  width: 9rem;
  word-break: break-word;


  .glyphicon {
    font-size: 4rem;
    margin-bottom: 5px;

    &.adt-card-check {
      display: none;
      font-size: 1rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }
}
